<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
        <div class="list-group" *ngIf="mensagens$ | async; let mensagens; else loading">
          <a [routerLink]="['/mensagens', mensagem.id]" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let mensagem of mensagens">
            <div *ngIf="mensagem.data.user | async as user" class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ user.displayName }} te enviou uma mensagem</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <small class="text-muted" *ngIf="mensagem.data.pergunta | async as pergunta">Em {{ pergunta.titulo }}</small>
          </a>
          <div *ngIf="mensagens.length === 0">Sem resultados, tente limpar os filtros</div>
        </div>
        <ng-template #loading>
          <i class="fa fa-circle-o-notch text-muted fa-spin fa-fw"></i>
        </ng-template>
      </div>
    </div>
  </div>
</section>
  