<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row mb-4">
          <div class="col-md-1">
            <a class="btn btn-secondary btn-block" [routerLink]="['/dashboard']">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-md-11">
            <h1>Minhas Mensagens</h1>
          </div>
        </div>
        <app-lista-conversas></app-lista-conversas>
      </div>
    </div>
  </div>
</section>
