<nav *ngIf="user$" class="navbar navbar-expand-md bg-light navbar-light box-sh-1 pt-md-0 pb-md-0">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsPerguntas" aria-controls="navbarsPerguntas" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="!isCollapsed" class="collapse navbar-collapse" id="navbarsPerguntas">
      <ul class="navbar-nav mr-auto navbar-firstlink-nopadding-left">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/perguntas', 'criar']">Criar Pergunta</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/perguntas']">Ajude Alguém</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="btn btn-success" [routerLink]="['/perguntas', 'criar']">Criar Pergunta</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
        <div *ngIf="perguntas$ | async; else loading">
          <div *ngFor="let pergunta of perguntas">
            <div class="card mb-3 box-sh-1">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-8">
                        <div *ngIf="pergunta.data.userId === user$?.uid; then eMinha else nMinha"></div>
                        <ng-template #nMinha>
                          <a [routerLink]="['/perguntas', pergunta.id, pergunta.data.titulo]">
                            <h4>{{ pergunta.data.titulo }}</h4>
                          </a>
                        </ng-template>
                        <ng-template #eMinha>
                          <a [routerLink]="['/propostas', pergunta.id]">
                            <h4>{{ pergunta.data.titulo }}</h4>
                          </a>
                        </ng-template>
                        <small><strong>Propostas: </strong><span *ngIf="pergunta.data.propostas | async; let propostas; else loading">{{ propostas?.length }}</span></small>
                        <small><strong>Criado Em: </strong>{{ pergunta.data.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</small>
                      </div>
                      <div class="col-md-4">
                        <!-- Botoes -->
                        <div *ngIf="pergunta.data.userId !== user$?.uid">
                          <div *ngIf="(pergunta.data.minhasPropostas | async)?.length; then jaFizProp else nFizProp">
                            <!-- ngTemplate -->
                          </div>
                          <ng-template #jaFizProp>
                            <div *ngIf="pergunta.data.conversa | async; let conversa">
                              <!-- Ir Para as Mensagens -->
                              <a class="btn btn-success btn-block" [routerLink]="['/conversas', conversa[0]?.idConversa]">Ir Para as Mensagens</a>
                            </div>
                          </ng-template>
                          <ng-template #nFizProp>
                            <!-- Fazer uma Proposta -->
                            <a class="btn btn-primary btn-block" [routerLink]="['/conversas', 'proposta', pergunta.id, pergunta.data.titulo]">{{ user$ ? 'Fazer uma Proposta' : 'Eu sei, posso ajudar!' }}</a>
                          </ng-template>
                        </div>
                        <!-- Orcamento -->
                        <h5 class="text-success text-center p-3">{{ pergunta.data.orcamento }}</h5>
                      </div>
                    </div>
                    <!-- Body -->
                    <p class="mt-3">{{ pergunta.data.body }}</p>
                  </div>
                </div>
                <!-- Usuario -->
                <a *ngIf="pergunta.data.user | async as user" class="card float-left" [routerLink]="['/users', user.uid]">
                  <div class="p-2 text-truncate">
                    <img [src]="user.photoURL" class="rounded mr-1" width="28" height="28" [alt]="user.displayName" [title]="user.displayName">
                    <small>{{ user.uid == user$?.uid ? 'Eu' : user.displayName }}</small>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="card card-body text-muted text-center" *ngIf="!perguntas.length">
            <h1>Sem Resultados</h1>
            <i class="fa fa-3x fa-frown-o" aria-hidden="true"></i>
          </div>
        </div>
        <ng-template #loading>
          <i class="fa fa-circle-o-notch text-muted fa-spin fa-fw"></i>
        </ng-template>
      </div>
    </div>
  </div>
</section>
