<app-pergunta 
  [perguntaId]="perguntaId"
  (userId)="onUserToId($event)"
></app-pergunta>
<section class="mt-5 mb-5">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-3">
          <h5>Descreva sua proposta</h5>
          <div class="form-group mt-3">
            <textarea class="form-control form-control-lg" rows="6" placeholder="Eu posso te ajudar!" formControlName="body"></textarea>
          </div>
          <h5 class="mt-5">Anexar arquivos</h5>
          <input type="file" name="" id="">
          <h5 class="mt-5">Sua proposta</h5>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="valorLiquido">Valor líquido a cobrar</label>
              <input type="text" class="form-control form-control-lg" id="valorLiquido" formControlName="valorLiquido">
            </div>
            <div class="col-md-4">
              <label for="comissao">Comissão AskDev</label>
              <input type="text" class="form-control form-control-lg" id="comissao" formControlName="comissao">
            </div>
            <div class="col-md-4">
              <label for="total">Total</label>
              <input type="text" class="form-control form-control-lg" id="total" formControlName="total">
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-success btn-lg" value="Publicar Proposta">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
