<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div *ngIf="auth.user | async; then authenticated">
            <!-- template will replace this div -->
          </div>
          <!-- User logged in -->
          <ng-template #authenticated>
            <div *ngIf="auth.user | async as user">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control form-control-lg" id="nome" formControlName="nome" [ngClass]="{'is-invalid': form.controls['nome'].invalid && form.controls['nome'].touched}">
              </div>
              <div class="form-group row">
                <div class="col-md-3">
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Salvar">
                </div>
              </div>
              <!-- <h3>Olá, {{ user.displayName }}!</h3>
              <button (click)="auth.signOut()">Logout</button> -->
            </div>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
</section>
