<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div *ngIf="auth.user | async as user">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" class="form-control form-control-lg" id="nome" formControlName="nome" [ngClass]="{'is-invalid': form.controls['nome'].invalid && form.controls['nome'].touched}">
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Salvar">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
