<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-5 text-muted">Minhas Ajudas <span *ngIf="conversas$ | async; let conversas; else loading">({{ conversas.length }})</span></h1>
        <div *ngIf="conversas$ | async; let conversas; else loading">
          <ul class="list-group box-sh-1 mt-3">
            <li class="list-group-item" *ngFor="let conversa of conversas">
              <div *ngIf="conversa.data.pergunta | async; let pergunta; else loading">
                <div class="row" *ngIf="perguntasService.nameStatus[pergunta.status]; let nameStatus">
                  <div class="col-md-1 text-center">
                    <i class="align-middle fa-3x {{ nameStatus.icone + (' text-' + nameStatus.class) }}"></i>
                  </div>
                  <div class="col-md-11">
                    <!-- Titulo Pergunta -->
                    <a class="text-dark" [routerLink]="['/perguntas', conversa.data.perguntaId, pergunta.titulo]">
                      <h5>{{ pergunta.titulo }}</h5>
                    </a>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <small><strong>Status:</strong> <span class="{{ 'text-' + nameStatus.class }}">{{ nameStatus.nome }}</span></small>
                      </li>
                      <li class="list-inline-item">
                        <!-- Qntde Mensagens -->
                        <small *ngIf="conversa.data.mensagens | async; let mensagens; else loading">
                          <strong>Mensagens: </strong>{{ mensagens.length }}
                        </small>
                      </li>
                      <li class="list-inline-item">
                        <!-- Qntde Propostas -->
                        <small *ngIf="conversa.data.minhasPropostas | async; let minhasPropostas; else loading">
                          <strong>Propostas: </strong>{{ minhasPropostas.length }}
                        </small>
                      </li>
                      <li class="list-inline-item">
                        <small><strong>Criado Em: </strong>{{ conversa.data.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</small>
                      </li>
                      <li class="list-inline-item">
                        <small>
                          <strong>Ajudado: </strong>
                          <a class="text-dark" *ngIf="conversa.data.userTo | async as user" [routerLink]="['/users', user.uid]">
                            {{ user.uid == user$.uid ? 'Eu' : user.displayName }}
                          </a>
                        </small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card card-body text-muted text-center" *ngIf="!conversas.length">
            <h1>Sem Resultados</h1>
            <i class="fa fa-3x fa-frown-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #loading>
  <i class="fa fa-circle-o-notch text-muted fa-spin fa-fw"></i>
</ng-template>
