<section class="mt-5 mb-5" *ngIf="conversa$ as conversa; else loading">
  <div class="container" *ngIf="pergunta$; let pergunta">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1">
            <a class="btn btn-secondary btn-block" [routerLink]="pergunta.userId === user$.uid ? ['/propostas', conversa.perguntaId] : ['/perguntas', conversa.perguntaId, pergunta.titulo]">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-md-11">
            <h1>{{ pergunta.titulo }}</h1>
            <h6 class="mb-5">Mensagens com
              <a href="#" *ngIf="user$.uid !== conversa.userToId ? (userToHead$ | async) : (userToHeadCreator$ | async); let userConversando">
                <img [src]="userConversando.photoURL" class="rounded" width="24px" height="24px" [alt]="userConversando.nome || userConversando.displayName" [title]="userConversando.nome || userConversando.displayName">
                <span>{{ userConversando.nome || userConversando.displayName }}</span>
              </a>
              <span>({{ (mensagens$ | async)?.length }})</span>
            </h6>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-3 offset-9">
            <div class="form-group" *ngIf="pergunta.status === 2 && pergunta.userId === user$.uid">
              <button (click)="updateStatus(4)" class="btn btn-block btn-success">Liberar Dinheiro</button>
            </div>
          </div>
        </div>
        <div *ngIf="mensagens$ | async; let mensagens; else loading" class="overflow-y-scroll" style="max-height: 50%">
          <div *ngFor="let mensagem of mensagens" class="row mb-5">
            <div class="col-md-12" *ngIf="mensagem.data.user | async as user">
              <div class="row">
                <div class="col-md-1" [ngClass]="{'order-12': user.uid == user$.uid}">
                  <img [src]="user.photoURL" class="rounded img-fluid" [alt]="user.nome || user.displayName" [title]="user.nome || user.displayName">
                </div>
                <div class="col-md-11">
                  <div class="card box-sh-1">
                    <div class="card-body">
                      <div class="row mb-2">
                        <div class="col-md-9">
                          <small class="text-muted">{{ user.uid == user$.uid ? 'Eu' : (user.nome || user.displayName) }}</small>
                        </div>
                        <div class="col-md-3 text-right">
                          <small>{{ mensagem.data.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</small>
                        </div>
                      </div>
                      <div *ngIf="mensagem.data.valor">
                        <div class="row mb-2 mt-3">
                          <div class="col-md-6">
                            <small class="text-primary">Valor da proposta: {{ mensagem.data.valor | currency:'BRL':'symbol' }}</small>
                          </div>
                          <div class="col-md-6 text-right" *ngIf="user.uid !== user$.uid && !pergunta.status">
                            <a [routerLink]="['/propostas', 'aceitar', mensagem.id]" class="btn btn-success btn-sm">Aceitar Proposta</a>
                          </div>
                        </div>
                        <hr>
                      </div>
                      {{ mensagem.data.body }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-3">
          <div class="form-group mt-3" *ngIf="minhasPropostas$ | async; let minhasPropostas">
            <div class="row">
              <div [ngClass]="{'col-md-8': user$.uid !== conversa.userToId,'col-md-12': user$.uid === conversa.userToId || pergunta.status}">
                <textarea class="form-control form-control-lg" rows="5" placeholder="Responder Mensagem" formControlName="body"></textarea>
              </div>
              <div class="col-md-4" *ngIf="user$.uid !== conversa.userToId && !pergunta.status">
                <div class="card text-white bg-primary">
                  <div class="card-body">
                    <h5 class="card-title">
                      <span *ngIf="minhasPropostas.length; then fiz else nFiz"></span>
                      <ng-template #fiz>
                        Você já fez uma proposta para esse projeto e ela não foi aceita?
                      </ng-template>
                      <ng-template #nFiz>
                        Você conhece todos os detalhes do projeto?
                      </ng-template>
                    </h5>
                    <a [routerLink]="['/conversas', perguntaId, pergunta.titulo]" class="btn btn-success btn-block btn-lg">{{ minhasPropostas.length ? 'Melhore sua Proposta' : 'Fazer uma Proposta' }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3">
              <input type="submit" class="btn btn-primary btn-lg btn-block" value="Enviar">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<ng-template #loading>
  <i class="fa fa-circle-o-notch text-muted fa-spin fa-fw"></i>
</ng-template>
